.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a:hover {
  color: #ffdd57;
  box-shadow: 0 0 15px rgba(255, 221, 87, 0.8);
  transform: scale(1.2);
}

.skills-container {
  width: 100%;
  overflow: hidden;
}

.skills-wrapper {
  display: relative;
  }

  .skills-row {
  display: flex;
  gap: 1rem; 
}

.skills-row.staggered {
  margin-left: 50px; 
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}