/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 5;
        transform: translateY(0);
    }
}

.fade-in {
    opacity: 0;
    /* Start invisible */
    animation: fadeIn 2s ease-out forwards;
}

.fade-in.visible {
    opacity: 1;
}