/* global.css or index.css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
ul,
ol,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
video,
svg,
iframe,
object,
embed {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}



@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {

    /* Bounce-in animation */
    @keyframes bounce-in {
        0% {
            transform: scale(0.5);
            opacity: 0;
        }

        60% {
            transform: scale(1.2);
            opacity: 1;
        }

        100% {
            transform: scale(1);
        }
    }

    .animate-bounce-in {
        animation: bounce-in 0.8s ease-out;
    }

    @keyframes gradient-bg {
        0% {
            background-color: #00ff99;
            /* Green */
        }

        100% {
            background-color: #7d00ff;
            /* Purple */
        }
    }

    /* Animation for the skill buttons */
    @keyframes neon-skill {
        0% {
            background-color: #0b0a0a;
            /* Neon Pink */
        }

        100% {
            background-color: #4c0479;
            /* Neon Purple */
        }
    }


    .animate-bg {
        animation: gradient-bg 10s ease-in-out infinite alternate;
    }

    .neon-skill {
        animation: neon-skill 3s ease-in-out infinite alternate;
    }
}